<h2>Welcome! Here are your games.</h2>
<br>
<% @games.each do |g|%>
<a href="/games/<%=g.id%>" class="no-underline"><%= g.title%></a>
<% end %>
<br>
<br><a href="/games/new"><button>Add</button></a>






<p><a href="/logout"><button>Log Out</button></a></p>