<h3>Welcome! Here are your Games.</h3>
<br>
<% @games.each do |g|%>
<p><a href="/games/<%=g.id%>"><%= g.title%></a><p>
<% end %>
<a href="/games/new"><button>Add</button></a>






<p><a href="/logout">Log Out</a></p>