<h2>Welcome! Here are your games.</h2>

<% @games.each do |g|%>
<br>
<a href="/games/<%=g.id%>" class="no-underline"><%= g.title%></a><br>
<% end %>
<br>
<br><a href="/games/new"><button class="button">Add</button></a>






<br><a href="/logout"><button class="button">Log Out</button></a>