<h1>Add a new game</h1>

<form method="POST" action="/games">

<label for="title">Title:</label>
<input type="text" name="title">

<label for="genre">Genre:</label>
<input type="text" name="genre">

<label for="platform">Platform:</label>
<input type="text" name="platform">





</form>