<div class="container">
<header><img src="images/acopyy.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">


  

   <div class="content">
    <h2>Welcome to Game Tracker</h2>
    <br>
    <h3>Where you can keep track of all your favorite games!</h3>
    
    </div>

    <div class="sidebar">
      
     <a href="/signup"><button class="block">Sign Up</button></a>
     
     <a href="/login"><button class="block" >Log In</button></a>
     
    </div>

  </div>
</div>
