<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">

   <div class="content">
    <h2>Welcome to Game Tracker</h2>
    <br>
    <h3>Where you can keep and track all your favorite games</h3>
    
    </div>

    <div class="sidebar">
     <p><a href="/signup"><button>Sign Up</button></a></p> 
     <p>or</p>
     <p><a href="/login"><button>Log In</button></a></p>
    </div>

  </div>
</div>
